@model SalesMotorcycle.Models.Data_Motor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Data_Motor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Motors" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data_Name" class="control-label"></label>
                <input asp-for="Data_Name" class="form-control" />
                <span asp-validation-for="Data_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Price" class="control-label"></label>
                <input asp-for="Data_Price" class="form-control" />
                <span asp-validation-for="Data_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

